DATABASE_URL_MIGRATIONS=postgresql+psycopg2://USER:PASS@HOST:5432/postgres
DATABASE_URL=postgresql+asyncpg://USER:PASS@HOST:6543/postgres
GROQ_API_KEY=
NERVICE_API_TOKEN=generate-with-secrets.token_urlsafe(32)
